<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static "ankiety/style.css" %}">
    <head>
        <title>Strona z pytaniami i odpowiedziami.</title>
    </head>
    <body>
        <h1>Strona z pytaniami i odpowiedziami.</h1>
        {% if lista_ostatnich_pytan %}
            <ul>
                {% for pytanie in lista_ostatnich_pytan %}
                    <li><a href="{% url "ankiety:szczegóły" pytanie.id %}">{{ pytanie.pytanie_tekst }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Brak ankiet do wyświetlenia.</p>
        {% endif %}
    </body>
</html>
